<div>
  <button (click)="lastMonth()">前月</button>
  {{ month }}
  <button (click)="nextMonth()">翌月</button>
</div>
<div>
  <span>月</span>
  <span>火</span>
  <span>水</span>
  <span>木</span>
  <span>金</span>
  <span>土</span>
  <span>日</span>
</div>
<div *ngFor="let n of week | range; index as i">
  <ng-container *ngFor="let m of 7 | range; index as j">
  <span (click)="getDate(d[i][j].date)" [ngClass]="d[i][j].month === month ? 'none' : 'gray'">
    {{ d[i][j].day }}
  </span>
  </ng-container>
</div>

